<div class="row">
    <div class="col-sm-4">
        <h2>Home</h2>
        <p>
            If you are here, you have verified your age.
        </p>
        @using (Html.BeginForm("ResetAgeVerification", "Home"))
        {
            <button type="submit" class="btn btn-default">Reset Age Verification</button>
        }
    </div>
</div>