<div class="row">
    <div class="col-sm-4">
        <h2>Page 2</h2>
        <p>
            I can't guarantee that you verified your age because there is no authorization filter on this action. If you know this URL, you could bypass the requirement.
        </p>
    </div>
</div>